<h1> Edit Devices Form </h1>

<%= form_for(@device) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :storage_size_in_GB %>
      <%= f.text_field :storage_size_in_GB %>

      <%= f.label :color %>
      <%= f.password_field :color %>

      <%= f.submit "Confirm" %>
<% end %>