<h1>Devices</h1>

<h1> <%= @device.name %></h1>

<h2> Info: </h2>
    
    <ul> Name: <%= @device.name %> </ul>
    <ul> <%= @device.storage_size_in_GB %> </ul>
    <ul> <%= @device.color %> </ul>
    <%# <ul> <%= link_to @user, user_path(@user) %> </ul> %>

    
<%= link_to 'Edit', edit_device_path(@device) %>
<br>
<br>
<%= link_to 'Log Out', logout_path, method: :post %>