<h1>Signup</h1>

    <%= form_for(@user) do |user| %>
        <%= user.label :username %>
        <%= user.text_field :username %>
        <br>
        <br>
        <%= user.label :password %>
        <%= user.text_field :password_digest %>
        <br>
        <br>
        <%= user.label :name %>
        <%= user.text_field :name %>
        <br>
        <br>
        <%= user.label :location %>
        <%= user.text_field :location %>
        <br>
        <br>
        <%= user.submit "Signup"%>
    <% end %>