<h1>Welcome <%= current_user.username %></h1>

<h2> My Info: </h2>
    <ul> <%= current_user.name %> </ul>
    <ul> <%= current_user.location %> </ul>
    <ul> <% current_user.devices.each do |device| %>
        <%= link_to device.name, device_path(device) %>
        <% end %></ul>
    <br>


    
<%= link_to 'Edit', edit_user_path(current_user) %>
<br>
<br>
<%= link_to 'Log Out', logout_path, method: :post %>