<h1>Welcome <%= current_user.username %></h1>

<h2> My Info: </h2>
    <ul> <%= current_user.name %> </ul>
    <ul> <%= current_user.location %> </ul>
    <ul> <%  current_user.devices.each do |device| %>
         <%= link_to device.name, user_device_path(current_user, device) %>
         <% end %>
    </ul>
    <br>

<%= link_to 'Add Device', new_user_device_path(current_user) %>
<br>
<br>
<%= link_to 'All Devices', devices_path %>
<br>
<br>
<%= link_to 'Edit', edit_user_path(current_user) %>
<br>
<br>
<%= link_to 'Log Out', logout_path, method: :post %>